[MASTER]

# Specify a score threshold to be exceeded before program exits with error.
fail-under=7.5

extension-pkg-whitelist=ujson
ignored-modules=psycopg2.errors

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=missing-docstring,invalid-name,no-else-raise,no-else-return,no-else-continue,too-few-public-methods

[DESIGN]

[TYPECHECK]
