name: Project Tests
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install testing dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          make setup
      - name: Run tests with coverage assessment
        run: make test-cov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          verbose: true
